.buttons {
  width: 195px;
  height: 358px;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnHome {
  display: block;
  background-color: #fa8305;
  width: 500px;
  margin-top: 35px;
  border: 0;
  border-radius: 30px;
  width: 195px;
  height: 36px;
  padding-top: 2px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: white;
}
.textBottomHome {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 155.2%;
  color: #fa8305;
  margin-top: 36px;
  text-align: center;
}
