.show {
  display: flex;
  flex-direction: column;
}
.rowData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rowData h1 {
  /* font-family: Poppins; */
  font-size: 36px;
  font-weight: 700;
  line-height: 67.5px;
  text-align: center;
  color: white;
}
.titleScore {
  font-size: 36px;
  font-weight: 700;
  line-height: 67.5px;
  text-align: center;
  color: white;
}
