#root {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
}
body {
  background-color: #3b2a9f;
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons button {
  display: block;
  background-color: #fa8305;
  width: 500px;
  margin-top: 35px;
  border: 0;
  border-radius: 30px;
  width: 195px;
  height: 36px;
  /* font-family: Poppins; */
  padding-top: 2px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: white;
}

.textBottom {
  width: 816px;
  height: 31px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 155.2%;
  color: #fa8305;
  position: absolute;
  bottom: 20px;
}
.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 67.5px;
  text-align: center;
  color: #ffffff;
  margin-top: 36px;
}
